// header
.header-wrapper{
  display: block;
  position: fixed;
  width: 100%;
  background-color: white;
  .search{
    display: inline-block;
    position: absolute;
    right: 30px;
    bottom: 25px;
    input{
      border: solid 1px;
    }
  }
}

// profile page
.profile-contents{
  padding-top: 150px;
}

//create page
  .post-body{
    padding: 30px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.836);
    .form-group{
      display: block;
      margin: 30px;
      text-align: left;
      label{
        font-size: 20px;
        margin: 10px;
      }
      input{
        height: 30px;
        width: 80%;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.836);
      }
      textarea{
        width: 80%;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.836);
      }
    }
    .create-btn{
      display: inline-block;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 4px 7px rgba(0, 0, 0, 0.836);
      background-color: white;
      input{
        background-color: white;
      }
    }
  }

//edit page
.edit-wrapper{
  display: inline-block;
  .edit-body{
    display: inline-block;
    margin: 30px;
    padding: 20px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.836);
    .form-group{
      display: block;
      margin: 10px;
    }
  }
}

//delete page
.delete-body{
  display: inline-block;
  margin: 30px;
  padding: 20px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.836);
}

// home page
.main-contents{
  padding: 150px 50px 20px;
  text-align: center;
  .card-body{
    display: inline-block;
    margin: 10px;
    padding: 5px;
    width: 300px;
    height: 500px;
    background-color: rgb(173, 173, 173);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.836);
    .image-wrapper{
      height: 300px;
      width: 100%;
      background-color: white;
      border: solid 2px black;
      .image{
        height: 290px;
        width: 100%;
        object-fit: cover;
      }
    }
    .meeting-wrapper{
      display: block;
      margin-top: 20px;
      .meeting-title{
        display: block;
        border-bottom: solid 1px black;
      }
      .meeting-detail{
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: left;
      }
      .detail-btn{
        display: inline;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.836);
        background-color: white;
      }
    }
  }
}

//search
.search-wrapper{
  display: block;
  width: 100%;
  padding: 40px;
  .title{
    display: inline;
    font-size: 50px;
  }
  .search-body{
    margin: 10px;
    padding: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.836);
    .searches{
      text-align: left;
      margin: 10px;
      padding: 20px;
      background-color: white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.836);
      overflow: hidden;
    }
  }
}

//meeting page
.detail-wrapper{
  display: block;
  .description{
    display: inline-block;
    padding: 10px;
    text-align: left;
  }
  .detail-btn{
    display: inline-block;
    margin: 10px;
  }
  .meeting-detail{
    display: inline-block;
    margin: 30px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.836);
  }
}
.entry-user-wrapper{
  display: block;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.836);
  .entry-body{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    .image{
      display: inline-block;
      height: 50px;
      width: 50px;
      margin: 5px 0 0 5px;
      border: solid 1px black;
      border-radius: 50px;
      background-color: white;
    }
  }
}

//message page
.message-wrapper{
  display: flex;
  overflow: scroll;
  max-height: calc(100vh - 170px);
  min-height: calc(100vh - 170px);
  .message-list{
    display: inline-block;
    text-align: left;
    margin: 5px;
    padding: 10px;
    min-width: 300px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.836);
    overflow: scroll;
    .meeting-wrapper{
      margin: 10px 0;
      padding: 5px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.836);
      .user-wrapper{
        .user-name{
          display: inline-block;
          vertical-align: top;
          margin: 13px 0 0 10px;
          color: blue;
        }
        .user-icon{
          display: inline-block;
          height: 40px;
          width: 40px;
          margin: 5px 0 0 5px;
          border: solid 1px black;
          border-radius: 50px;
          background-color: white;
        }
      }
    }
    .message-mymeeting{
      border-bottom: solid 3px black;
    }
    .message-entry{
      margin-top: 10px;
    }
  }
  .message-form{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5px;
    width: 100%;
    min-width: 500px;
    background-color: rgb(255, 225, 190);
    border: solid 1px black;
    .no-select{
      display: inline;
      line-height: calc(100vh - 170px);
    }
    .list-wrapper{
      display: block;
      position: relative;
      height: calc(100vh - 240px);
      width: 100%;
      padding: 10px;
      border: solid 1px black;
      overflow: scroll;
      .message{
        display: inline-block;
        margin: 5px 0;
        padding: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.836);
        border-radius: 10px;
        background-color: white;
      }
      .left-message{
        display: block;
        text-align: left;
      }
      .right-message{
        display: block;
        text-align: right;
      }
    }
    .form-wrapper{
      display: block;
      position: relative;
      height: 60px;
      width: 100%;
      background-color: rgb(150, 150, 150);
      overflow-x: auto;
      white-space: nowrap;
      .form-group{
        display: block;
        position: relative;
        .message-user-image{
          display: inline-block;
          height: 50px;
          width: 50px;
          margin: 5px 0 0 5px;
          border: solid 1px black;
          border-radius: 50px;
          background-color: white;
        }
        .message-user-name{
          display: inline-block;
          vertical-align: top;
          margin: 18px 20px 0 10px;
          height: 30px;
          font-size: 20px;
          font-weight: 700;
        }
        .form-control{
          display: inline-block;
          vertical-align: top;
          height: 40px;
          width: 400px;
          margin-top: 10px;
          border: solid 1px black;
          border-radius: 10px;
        }
        .btn-primary{
          display: inline-block;
          vertical-align: top;
          border: solid 1px black;
          border-radius: 6px;
          padding: 3px;
          margin: 15px 5px 0 5px;
          height: 30px;
        }
      }
    }
  }
}