// header
.header-wrapper{
  display: block;
  position: fixed;
  width: 100%;
  .search{
    display: inline-block;
    position: absolute;
    right: 30px;
    bottom: 25px;
    input{
      border: solid 1px;
    }
  }
}

// profile page
.profile-contents{
  padding-top: 150px;
}

// home page
.main-contents{
  padding: 150px 50px 20px;
  text-align: center;
  .card-body{
    display: inline-block;
    margin: 10px;
    padding: 5px;
    width: 300px;
    height: 500px;
    background-color: rgb(139, 139, 139);
    border: solid 5px black;
    .image-wrapper{
      height: 300px;
      width: 100%;
      background-color: white;
      border: solid 2px black;
      .image{
        height: 290px;
        width: 100%;
        object-fit: cover;
      }
    }
    .meeting-wrapper{
      display: block;
      margin-top: 20px;
      .meeting-title{
        display: block;
        border-bottom: solid 1px black;
      }
      .meeting-detail{
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: left;
      }
      .detail-btn{
        display: inline;
        padding: 5px;
        border: solid 2px black;
        background-color: white;
      }
    }
  }
}

.message-wrapper{
  display: flex;
  max-height: calc(100vh - 170px);
  min-height: calc(100vh - 170px);
  .message-title{
    font-weight: 700;
  }
  .message-list{
    display: block;
    text-align: left;
    margin: 5px;
    padding: 10px;
    min-width: 300px;
    border: solid 1px black;
    overflow: scroll;
  }
  .message-form{
    display: block;
    margin: 5px;
    padding: 10px;
    width: 100%;
    background-color: white;
    border: solid 1px black;
    overflow: scroll;
    .message{
      display: inline-block;
      border: solid 1px black;
    }
    .left-message{
      display: block;
      text-align: left;
    }
    .right-message{
      display: block;
      text-align: right;
    }
  }
}