.main-contents {
  padding: 20px 50px 20px;
  text-align: center;
}
.main-contents .card-body {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  width: 300px;
  height: 500px;
  background-color: #8b8b8b;
  border: solid 5px black;
}
.main-contents .card-body .image-wrapper {
  height: 300px;
  width: 100%;
  background-color: white;
  border: solid 2px black;
}
.main-contents .card-body .image-wrapper .image {
  height: 290px;
  width: 100%;
  object-fit: cover;
}
.main-contents .card-body .meeting-wrapper {
  display: block;
  margin-top: 20px;
}
.main-contents .card-body .meeting-wrapper .meeting-title {
  display: block;
  border-bottom: solid 1px black;
}
.main-contents .card-body .meeting-wrapper .meeting-detail {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}
.main-contents .card-body .meeting-wrapper .detail-btn {
  display: inline;
  padding: 5px;
  border: solid 2px black;
  background-color: white;
}
