.header-wrapper {
  display: block;
  position: fixed;
  width: 100%;
}
.header-wrapper .search {
  display: inline-block;
  position: absolute;
  right: 30px;
  bottom: 25px;
}
.header-wrapper .search input {
  border: solid 1px;
}
.profile-contents {
  padding-top: 150px;
}
.main-contents {
  padding: 150px 50px 20px;
  text-align: center;
}
.main-contents .card-body {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  width: 300px;
  height: 500px;
  background-color: #adadad;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.836);
}
.main-contents .card-body .image-wrapper {
  height: 300px;
  width: 100%;
  background-color: white;
  border: solid 2px black;
}
.main-contents .card-body .image-wrapper .image {
  height: 290px;
  width: 100%;
  object-fit: cover;
}
.main-contents .card-body .meeting-wrapper {
  display: block;
  margin-top: 20px;
}
.main-contents .card-body .meeting-wrapper .meeting-title {
  display: block;
  border-bottom: solid 1px black;
}
.main-contents .card-body .meeting-wrapper .meeting-detail {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}
.main-contents .card-body .meeting-wrapper .detail-btn {
  display: inline;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.836);
  background-color: white;
}
.search-wrapper {
  display: block;
  width: 100%;
  padding: 40px;
}
.search-wrapper .title {
  display: inline;
  font-size: 50px;
}
.search-wrapper .search-body {
  margin: 10px;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.836);
}
.search-wrapper .search-body .searches {
  text-align: left;
  margin: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.836);
  overflow: hidden;
}
.detail-wrapper {
  display: block;
}
.detail-wrapper .description {
  display: inline-block;
  padding: 10px;
  text-align: left;
}
.detail-wrapper .detail-btn {
  display: inline-block;
  margin: 10px;
}
.detail-wrapper .meeting-detail {
  display: inline-block;
  margin: 30px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.836);
}
.entry-user-wrapper {
  display: block;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.836);
}
.entry-user-wrapper .entry-body {
  display: inline-block;
  margin: 5px;
  padding: 5px;
}
.entry-user-wrapper .entry-body .image {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 5px 0 0 5px;
  border: solid 1px black;
  border-radius: 50px;
  background-color: white;
}
.message-wrapper {
  display: flex;
  overflow: scroll;
  max-height: calc(100vh - 170px);
  min-height: calc(100vh - 170px);
}
.message-wrapper .message-list {
  display: inline-block;
  text-align: left;
  margin: 5px;
  padding: 10px;
  min-width: 300px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.836);
  overflow: scroll;
}
.message-wrapper .message-list .meeting-wrapper {
  margin: 10px 0;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.836);
}
.message-wrapper .message-list .meeting-wrapper .user-wrapper .user-name {
  display: inline-block;
  vertical-align: top;
  margin: 13px 0 0 10px;
  color: blue;
}
.message-wrapper .message-list .meeting-wrapper .user-wrapper .user-icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 5px 0 0 5px;
  border: solid 1px black;
  border-radius: 50px;
  background-color: white;
}
.message-wrapper .message-list .message-mymeeting {
  border-bottom: solid 3px black;
}
.message-wrapper .message-list .message-entry {
  margin-top: 10px;
}
.message-wrapper .message-form {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 5px;
  width: 100%;
  min-width: 500px;
  background-color: #ffe1be;
  border: solid 1px black;
}
.message-wrapper .message-form .no-select {
  display: inline;
  line-height: calc(100vh - 170px);
}
.message-wrapper .message-form .list-wrapper {
  display: block;
  position: relative;
  height: calc(100vh - 240px);
  width: 100%;
  padding: 10px;
  border: solid 1px black;
  overflow: scroll;
}
.message-wrapper .message-form .list-wrapper .message {
  display: inline-block;
  margin: 5px 0;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.836);
  border-radius: 10px;
  background-color: white;
}
.message-wrapper .message-form .list-wrapper .left-message {
  display: block;
  text-align: left;
}
.message-wrapper .message-form .list-wrapper .right-message {
  display: block;
  text-align: right;
}
.message-wrapper .message-form .form-wrapper {
  display: block;
  position: relative;
  height: 60px;
  width: 100%;
  background-color: #969696;
  overflow-x: auto;
  white-space: nowrap;
}
.message-wrapper .message-form .form-wrapper .form-group {
  display: block;
  position: relative;
}
.message-wrapper .message-form .form-wrapper .form-group .message-user-image {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 5px 0 0 5px;
  border: solid 1px black;
  border-radius: 50px;
  background-color: white;
}
.message-wrapper .message-form .form-wrapper .form-group .message-user-name {
  display: inline-block;
  vertical-align: top;
  margin: 18px 20px 0 10px;
  height: 30px;
  font-size: 20px;
  font-weight: 700;
}
.message-wrapper .message-form .form-wrapper .form-group .form-control {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  width: 400px;
  margin-top: 10px;
  border: solid 1px black;
  border-radius: 10px;
}
.message-wrapper .message-form .form-wrapper .form-group .btn-primary {
  display: inline-block;
  vertical-align: top;
  border: solid 1px black;
  border-radius: 6px;
  padding: 3px;
  margin: 15px 5px 0 5px;
  height: 30px;
}
